# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
slides/01introduction.aux
slides/01introduction.nav
slides/01introduction.out
slides/01introduction.snm
slides/01introduction.synctex.gz
slides/01introduction.tex
slides/01introduction.toc
slides/01introduction.vrb
slides/beamerouterthemechspinfolines.sty
slides/beamerthemeZurich.sty
slides/figures/20mostPopularFeb2019.png
slides/figures/7mostDemanded2019.png
slides/figures/8b133fc1-skier-stuck-in-snow.jpg
slides/figures/Breast-Biopsy-2.jpg
slides/figures/f737c96e-beginner-skier.jpg
slides/figures/fna-benign1.png
slides/figures/fna-malignant1.png
slides/figures/helloWorld.png
slides/figures/HelloWorldAfter.png
slides/figures/HelloWorldjupyterlab.png
slides/figures/itDoesTheJob.jpg
slides/figures/jupyterCollections.png
slides/figures/jupyterDataTypes.png
slides/figures/jupyterDataTypes2.png
slides/figures/kahoot.jpg
slides/figures/keywords.png
slides/figures/keywords2.png
slides/figures/knimepipeline.png
slides/figures/python-logo.png
slides/figures/repl.png
slides/figures/replNew.png
slides/figures/scheduleM1.png
slides/figures/tiobe02_2021.png
slides/figures/tiobe05_2021.png
slides/figures/whats_ml.jpg
slides/lecture-plan.tex
slides/live.aux
slides/live.tex
slides/macros.tex
slides/mibmrcfg.sty
slides/README.md
slides/references.aux
slides/references.tex
jupyter/jupyterNotebooks/assignments/stdout.txt
jupyter/jupyterNotebooks/assignments/old/02AssignmentsDataTypesAndOperations.ipynb
jupyter/jupyterNotebooks/assignments/old/05AssignmentsFunctions.ipynb
jupyter/jupyterNotebooks/assignments/stdout.txt
slides/figures/colab1.png
slides/figures/colab2.png
slides/figures/colab3.png
slides/figures/colab3b.png
